IF OBJECT_ID ( 'dbo.v_VersionList' ) IS NULL
EXEC sp_executesql N'CREATE FUNCTION dbo.v_VersionList ( ) RETURNS @Table TABLE ( _ BIT NULL ) AS BEGIN RETURN ; END' ;

GO

--
-- This function will result with dictionary of wait type names and descriptions.
--
-- Source: https://buildnumbers.wordpress.com/sqlserver/
--
ALTER FUNCTION dbo.v_VersionList ( )
RETURNS @Table TABLE
(
  [Version] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS ,
  [Family] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS ,
  [Update] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS ,
  UNIQUE CLUSTERED ( [Version] DESC )
)
AS
BEGIN

INSERT INTO @Table ( [Version] , [Family] , [Update] )
VALUES
 (N'',N'',N'')

,(N'15.0.4188.2',N'SQL Server 2019',N'CU14')
,(N'15.0.4178.1',N'SQL Server 2019',N'CU13')
,(N'15.0.4153.1',N'SQL Server 2019',N'CU12')
,(N'15.0.4138.2',N'SQL Server 2019',N'CU11')
,(N'15.0.4123.1',N'SQL Server 2019',N'CU10')
,(N'15.0.4102.2',N'SQL Server 2019',N'CU9')
,(N'15.0.4083.2',N'SQL Server 2019',N'CU8+SU')
,(N'15.0.4073.23',N'SQL Server 2019',N'CU8')
,(N'15.0.4063.15',N'SQL Server 2019',N'CU7')
,(N'15.0.4053.23',N'SQL Server 2019',N'CU6')
,(N'15.0.4043.16',N'SQL Server 2019',N'CU5')
,(N'15.0.4033.1',N'SQL Server 2019',N'CU4')
,(N'15.0.4023.6',N'SQL Server 2019',N'CU3')
,(N'15.0.4013.40',N'SQL Server 2019',N'CU2')
,(N'15.0.4003.23',N'SQL Server 2019',N'CU1')
,(N'15.0.2080.9',N'SQL Server 2019',N'GDR+SU')
,(N'15.0.2070.41',N'SQL Server 2019',N'GDR1')
,(N'15.0.2000.5',N'SQL Server 2019',N'RTM')

,(N'15.0.1900.47',N'SQL Server 2019 RTM',N'RC1 1.1')
,(N'15.0.1900.25',N'SQL Server 2019 RTM',N'RC1')
,(N'15.0.1800.32',N'SQL Server 2019 RTM',N'CTP 3.2')
,(N'15.0.1700.37',N'SQL Server 2019 RTM',N'CTP 3.1')
,(N'15.0.1600.8',N'SQL Server 2019 RTM',N'CTP 3.0')
,(N'15.0.1500.28',N'SQL Server 2019 RTM',N'CTP 2.5')
,(N'15.0.1400.75',N'SQL Server 2019 RTM',N'CTP 2.4')
,(N'15.0.1300.359',N'SQL Server 2019 RTM',N'CTP 2.3')
,(N'15.0.1200.24',N'SQL Server 2019 RTM',N'CTP 2.2')
,(N'15.0.1100.94',N'SQL Server 2019 RTM',N'CTP 2.1')
,(N'15.0.1000.34',N'SQL Server 2019 RTM',N'CTP 2.0')

,(N'14.0.3411.3',N'SQL Server 2017',N'CU26')
,(N'14.0.3401.7',N'SQL Server 2017',N'CU25')
,(N'14.0.3391.2',N'SQL Server 2017',N'CU24')
,(N'14.0.3381.3',N'SQL Server 2017',N'CU23')
,(N'14.0.3370.1',N'SQL Server 2017',N'CU22+SU')
,(N'14.0.3356.20',N'SQL Server 2017',N'CU22')
,(N'14.0.3335.7',N'SQL Server 2017',N'CU21')
,(N'14.0.3294.2',N'SQL Server 2017',N'CU20')
,(N'14.0.3281.6',N'SQL Server 2017',N'CU19')
,(N'14.0.3257.3',N'SQL Server 2017',N'CU18')
,(N'14.0.3238.1',N'SQL Server 2017',N'CU17')
,(N'14.0.3223.3',N'SQL Server 2017',N'CU16')
,(N'14.0.3208.1',N'SQL Server 2017',N'CU15+SU2+FIX')
,(N'14.0.3192.2',N'SQL Server 2017',N'CU15+SU1')
,(N'14.0.3164.1',N'SQL Server 2017',N'CU15+FIX')
,(N'14.0.3162.1',N'SQL Server 2017',N'CU15')
,(N'14.0.3103.1',N'SQL Server 2017',N'CU14+SU')
,(N'14.0.3076.1',N'SQL Server 2017',N'CU14')
,(N'14.0.3049.1',N'SQL Server 2017',N'FIX')
,(N'14.0.3048.4',N'SQL Server 2017',N'CU13')
,(N'14.0.3045.24',N'SQL Server 2017',N'CU12')
,(N'14.0.3038.14',N'SQL Server 2017',N'CU11')
,(N'14.0.3037.1',N'SQL Server 2017',N'CU10')
,(N'14.0.3035.2',N'SQL Server 2017',N'CU9+SU')
,(N'14.0.3030.27',N'SQL Server 2017',N'CU9')
,(N'14.0.3029.16',N'SQL Server 2017',N'CU8')
,(N'14.0.3026.27',N'SQL Server 2017',N'CU7')
,(N'14.0.3025.34',N'SQL Server 2017',N'CU6')
,(N'14.0.3023.8',N'SQL Server 2017',N'CU5')
,(N'14.0.3022.28',N'SQL Server 2017',N'CU4')
,(N'14.0.3015.40',N'SQL Server 2017',N'CU3')
,(N'14.0.3008.27',N'SQL Server 2017',N'CU2')
,(N'14.0.3006.16',N'SQL Server 2017',N'CU1')
,(N'14.0.2037.2',N'SQL Server 2017',N'GDR+SU5')
,(N'14.0.2027.2',N'SQL Server 2017',N'GDR+SU4')
,(N'14.0.2014.14',N'SQL Server 2017',N'GDR+SU3')
,(N'14.0.2002.14',N'SQL Server 2017',N'GDR+SU2')
,(N'14.0.2000.63',N'SQL Server 2017',N'GDR+SU1')
,(N'14.0.1000.169',N'SQL Server 2017',N'RTM')
,(N'14.0.900.75',N'SQL Server 2017',N'RC2')
,(N'14.0.800.90',N'SQL Server 2017',N'RC1')
,(N'14.0.600.250',N'SQL Server 2017',N'CTP 2.1')
,(N'14.0.500.272',N'SQL Server 2017',N'CTP 2.0')
,(N'14.0.405.198',N'SQL Server 2017',N'CTP 1.4')
,(N'14.0.304.138',N'SQL Server 2017',N'CTP 1.3')
,(N'14.0.200.24',N'SQL Server 2017',N'CTP 1.2')
,(N'14.0.100.187',N'SQL Server 2017',N'CTP 1.1')
,(N'14.0.1.246',N'SQL Server 2017',N'CTP 1')

,(N'13.0.6300.2',N'SQL Server 2016 Service Pack 3',N'SP3')
,(N'13.0.5888.11',N'SQL Server 2016 Service Pack 2',N'CU17')
,(N'13.0.5882.1',N'SQL Server 2016 Service Pack 2',N'CU16')
,(N'13.0.5865.1',N'SQL Server 2016 Service Pack 2',N'CU15+SU')
,(N'13.0.5850.14',N'SQL Server 2016 Service Pack 2',N'CU15')
,(N'13.0.5830.85',N'SQL Server 2016 Service Pack 2',N'CU14')
,(N'13.0.5820.21',N'SQL Server 2016 Service Pack 2',N'CU13')
,(N'13.0.5698.0',N'SQL Server 2016 Service Pack 2',N'CU12')
,(N'13.0.5622.0',N'SQL Server 2016 Service Pack 2',N'CU11+SU')
,(N'13.0.5598.27',N'SQL Server 2016 Service Pack 2',N'CU11')
,(N'13.0.5492.2',N'SQL Server 2016 Service Pack 2',N'CU10')
,(N'13.0.5479.0',N'SQL Server 2016 Service Pack 2',N'CU9')
,(N'13.0.5426.0',N'SQL Server 2016 Service Pack 2',N'CU8')
,(N'13.0.5382.0',N'SQL Server 2016 Service Pack 2',N'CU7+SU2+FIX')
,(N'13.0.5366.0',N'SQL Server 2016 Service Pack 2',N'CU7+SU1')
,(N'13.0.5343.1',N'SQL Server 2016 Service Pack 2',N'CU7+FIX')
,(N'13.0.5337.0',N'SQL Server 2016 Service Pack 2',N'CU7')
,(N'13.0.5292.0',N'SQL Server 2016 Service Pack 2',N'CU6')
,(N'13.0.5270.0',N'SQL Server 2016 Service Pack 2',N'CU5+FIX')
,(N'13.0.5264.1',N'SQL Server 2016 Service Pack 2',N'CU5')
,(N'13.0.5239.0',N'SQL Server 2016 Service Pack 2',N'CU4+FIX')
,(N'13.0.5233.0',N'SQL Server 2016 Service Pack 2',N'CU4')
,(N'13.0.5216.0',N'SQL Server 2016 Service Pack 2',N'CU3')
,(N'13.0.5201.1',N'SQL Server 2016 Service Pack 2',N'CU2+SU')
,(N'13.0.5153.0',N'SQL Server 2016 Service Pack 2',N'CU2')
,(N'13.0.5149.0',N'SQL Server 2016 Service Pack 2',N'CU1')
,(N'13.0.5103.6',N'SQL Server 2016 Service Pack 2',N'GDR+SU4')
,(N'13.0.5102.14',N'SQL Server 2016 Service Pack 2',N'GDR+SU3')
,(N'13.0.5101.9',N'SQL Server 2016 Service Pack 2',N'GDR+SU2')
,(N'13.0.5081.1',N'SQL Server 2016 Service Pack 2',N'GDR+SU1')
,(N'13.0.5026.0',N'SQL Server 2016 Service Pack 2',N'SP2')
,(N'13.0.4604.0',N'SQL Server 2016 Service Pack 1',N'CU15+SU')
,(N'13.0.4577.0',N'SQL Server 2016 Service Pack 1',N'CU15+FIX')
,(N'13.0.4574.0',N'SQL Server 2016 Service Pack 1',N'CU15')
,(N'13.0.4560.0',N'SQL Server 2016 Service Pack 1',N'CU14')
,(N'13.0.4550.1',N'SQL Server 2016 Service Pack 1',N'CU13')
,(N'13.0.4541.0',N'SQL Server 2016 Service Pack 1',N'CU12')
,(N'13.0.4531.0',N'SQL Server 2016 Service Pack 1',N'CU11+FIX')
,(N'13.0.4528.0',N'SQL Server 2016 Service Pack 1',N'CU11')
,(N'13.0.4522.0',N'SQL Server 2016 Service Pack 1',N'CU10+SU')
,(N'13.0.4514.0',N'SQL Server 2016 Service Pack 1',N'CU10')
,(N'13.0.4502.0',N'SQL Server 2016 Service Pack 1',N'CU9')
,(N'13.0.4474.0',N'SQL Server 2016 Service Pack 1',N'CU8')
,(N'13.0.4466.4',N'SQL Server 2016 Service Pack 1',N'CU7')
,(N'13.0.4457.0',N'SQL Server 2016 Service Pack 1',N'CU6')
,(N'13.0.4451.0',N'SQL Server 2016 Service Pack 1',N'CU5')
,(N'13.0.4446.0',N'SQL Server 2016 Service Pack 1',N'CU4')
,(N'13.0.4435.0',N'SQL Server 2016 Service Pack 1',N'CU3')
,(N'13.0.4422.0',N'SQL Server 2016 Service Pack 1',N'CU2')
,(N'13.0.4411.0',N'SQL Server 2016 Service Pack 1',N'CU1')
,(N'13.0.4259.0',N'SQL Server 2016 Service Pack 1',N'GDR+SU4')
,(N'13.0.4224.16',N'SQL Server 2016 Service Pack 1',N'GDR+SU3')
,(N'13.0.4210.6',N'SQL Server 2016 Service Pack 1',N'GDR+SU2')
,(N'13.0.4206.0',N'SQL Server 2016 Service Pack 1',N'GDR+SU1')
,(N'13.0.4202.2',N'SQL Server 2016 Service Pack 1',N'GDR')
,(N'13.0.4199.0',N'SQL Server 2016 Service Pack 1',N'SP1+FIX')
,(N'13.0.4001.0',N'SQL Server 2016 Service Pack 1',N'SP1')
,(N'13.0.2218.0',N'SQL Server 2016',N'CU9+SU')
,(N'13.0.2216.0',N'SQL Server 2016',N'CU9')
,(N'13.0.2213.0',N'SQL Server 2016',N'CU8')
,(N'13.0.2210.0',N'SQL Server 2016',N'CU7')
,(N'13.0.2204.0',N'SQL Server 2016',N'CU6')
,(N'13.0.2197.0',N'SQL Server 2016',N'CU5')
,(N'13.0.2193.0',N'SQL Server 2016',N'CU4')
,(N'13.0.2186.6',N'SQL Server 2016',N'MS16-136')
,(N'13.0.2170.0',N'SQL Server 2016',N'CU2+FIX2')
,(N'13.0.2169.0',N'SQL Server 2016',N'CU2+FIX1')
,(N'13.0.2164.0',N'SQL Server 2016',N'CU2')
,(N'13.0.2149.0',N'SQL Server 2016',N'CU1')
,(N'13.0.1745.2',N'SQL Server 2016',N'GDR+SU2')
,(N'13.0.1742.0',N'SQL Server 2016',N'GDR+SU1')
,(N'13.0.1728.2',N'SQL Server 2016',N'GDR')
,(N'13.0.1722.0',N'SQL Server 2016',N'MS16-136')
,(N'13.0.1711.0',N'SQL Server 2016',N'FIX')
,(N'13.0.1708.0',N'SQL Server 2016',N'CU')
,(N'13.0.1601.5',N'SQL Server 2016',N'RTM')
,(N'13.0.1400.361',N'SQL Server 2016',N'RC3')
,(N'13.0.1300.275',N'SQL Server 2016',N'RC2')
,(N'13.0.1200.242',N'SQL Server 2016',N'RC1')
,(N'13.0.1100.288',N'SQL Server 2016',N'RC0')
,(N'13.0.1000.281',N'SQL Server 2016',N'CTP 3.3')
,(N'13.00.900.73',N'SQL Server 2016',N'CTP 3.2')
,(N'13.0.800.111',N'SQL Server 2016',N'CTP 3.1')
,(N'13.0.700.1395',N'SQL Server 2016',N'CTP 3.0')
,(N'13.0.600.65',N'SQL Server 2016',N'CTP 2.4')
,(N'13.0.500.53',N'SQL Server 2016',N'CTP 2.3')
,(N'13.0.407.1',N'SQL Server 2016',N'CTP 2.2')
,(N'13.0.400.91',N'SQL Server 2016',N'CTP 2.2')
,(N'13.0.300.44',N'SQL Server 2016',N'CTP 2.1')
,(N'13.0.200.172',N'SQL Server 2016',N'CTP 2.0')

,(N'12.0.6433.1',N'SQL Server 2014 Service Pack 3',N'CU4+SU2')
,(N'12.0.6372.1',N'SQL Server 2014 Service Pack 3',N'CU4+SU1')
,(N'12.0.6329.1',N'SQL Server 2014 Service Pack 3',N'CU4')
,(N'12.0.6293.0',N'SQL Server 2014 Service Pack 3',N'CU3+SU')
,(N'12.0.6259.0',N'SQL Server 2014 Service Pack 3',N'CU3')
,(N'12.0.6214.1',N'SQL Server 2014 Service Pack 3',N'CU2')
,(N'12.0.6205.1',N'SQL Server 2014 Service Pack 3',N'CU1')
,(N'12.0.6164.21',N'SQL Server 2014 Service Pack 3',N'GDR+SU3')
,(N'12.0.6118.4',N'SQL Server 2014 Service Pack 3',N'GDR+SU2')
,(N'12.0.6108.1',N'SQL Server 2014 Service Pack 3',N'GDR+SU1')
,(N'12.0.6024.0',N'SQL Server 2014 Service Pack 3',N'SP3')
,(N'12.0.5687.1',N'SQL Server 2014 Service Pack 2',N'CU18')
,(N'12.0.5659.1',N'SQL Server 2014 Service Pack 2',N'CU17+SU')
,(N'12.0.5632.1',N'SQL Server 2014 Service Pack 2',N'CU17')
,(N'12.0.5626.1',N'SQL Server 2014 Service Pack 2',N'CU16')
,(N'12.0.5605.1',N'SQL Server 2014 Service Pack 2',N'CU15')
,(N'12.0.5600.1',N'SQL Server 2014 Service Pack 2',N'CU14')
,(N'12.0.5590.1',N'SQL Server 2014 Service Pack 2',N'CU13')
,(N'12.0.5589.7',N'SQL Server 2014 Service Pack 2',N'CU12')
,(N'12.0.5579.0',N'SQL Server 2014 Service Pack 2',N'CU11')
,(N'12.0.5571.0',N'SQL Server 2014 Service Pack 2',N'CU10')
,(N'12.0.5563.0',N'SQL Server 2014 Service Pack 2',N'CU9')
,(N'12.0.5557.0',N'SQL Server 2014 Service Pack 2',N'CU8')
,(N'12.0.5556.0',N'SQL Server 2014 Service Pack 2',N'CU7')
,(N'12.0.5553.0',N'SQL Server 2014 Service Pack 2',N'CU6')
,(N'12.0.5546.0',N'SQL Server 2014 Service Pack 2',N'CU5')
,(N'12.0.5540.0',N'SQL Server 2014 Service Pack 2',N'CU4')
,(N'12.0.5538.0',N'SQL Server 2014 Service Pack 2',N'CU3')
,(N'12.0.5532.0',N'SQL Server 2014 Service Pack 2',N'MS16-136')
,(N'12.0.5522.0',N'SQL Server 2014 Service Pack 2',N'CU2')
,(N'12.0.5511.0',N'SQL Server 2014 Service Pack 2',N'CU1')
,(N'12.0.5223.6',N'SQL Server 2014 Service Pack 2',N'GDR+SU3')
,(N'12.0.5214.6',N'SQL Server 2014 Service Pack 2',N'GDR+SU2')
,(N'12.0.5207.0',N'SQL Server 2014 Service Pack 2',N'GDR+SU1')
,(N'12.0.5203.0',N'SQL Server 2014 Service Pack 2',N'MS16-136')
,(N'12.0.5000.0',N'SQL Server 2014 Service Pack 2',N'SP2')
,(N'12.0.4522.0',N'SQL Server 2014 Service Pack 1',N'CU13')
,(N'12.0.4511.0',N'SQL Server 2014 Service Pack 1',N'CU12')
,(N'12.0.4502.0',N'SQL Server 2014 Service Pack 1',N'CU11')
,(N'12.0.4491.0',N'SQL Server 2014 Service Pack 1',N'CU10')
,(N'12.0.4487.0',N'SQL Server 2014 Service Pack 1',N'MS16-136')
,(N'12.0.4474.0',N'SQL Server 2014 Service Pack 1',N'CU9')
,(N'12.0.4468.0',N'SQL Server 2014 Service Pack 1',N'CU8')
,(N'12.0.4463.0',N'SQL Server 2014 Service Pack 1',N'FIX')
,(N'12.0.4459.0',N'SQL Server 2014 Service Pack 1',N'CU7')
,(N'12.0.4457.0',N'SQL Server 2014 Service Pack 1',N'CU6')
,(N'12.0.4449.0',N'SQL Server 2014 Service Pack 1',N'CU6')
,(N'12.0.4439.1',N'SQL Server 2014 Service Pack 1',N'CU5')
,(N'12.0.4437.0',N'SQL Server 2014 Service Pack 1',N'CU4+FIX')
,(N'12.0.4436.0',N'SQL Server 2014 Service Pack 1',N'CU4')
,(N'12.0.4427.24',N'SQL Server 2014 Service Pack 1',N'CU3')
,(N'12.0.4422.0',N'SQL Server 2014 Service Pack 1',N'CU2')
,(N'12.0.4416.0',N'SQL Server 2014 Service Pack 1',N'CU1')
,(N'12.0.4237.0',N'SQL Server 2014 Service Pack 1',N'GDR+SU')
,(N'12.0.4232.0',N'SQL Server 2014 Service Pack 1',N'MS16-136')
,(N'12.0.4219.0',N'SQL Server 2014 Service Pack 1',N'TLS')
,(N'12.0.4213.0',N'SQL Server 2014 Service Pack 1',N'MS15-058')
,(N'12.0.4100.1',N'SQL Server 2014 Service Pack 1',N'SP1')
,(N'12.0.2569.0',N'SQL Server 2014',N'CU14')
,(N'12.0.2568.0',N'SQL Server 2014',N'CU13')
,(N'12.0.2564.0',N'SQL Server 2014',N'CU12')
,(N'12.0.2560.0',N'SQL Server 2014',N'CU11')
,(N'12.0.2556.4',N'SQL Server 2014',N'CU10')
,(N'12.0.2553.0',N'SQL Server 2014',N'CU9')
,(N'12.0.2548.0',N'SQL Server 2014',N'MS15-058')
,(N'12.0.2546.0',N'SQL Server 2014',N'CU8')
,(N'12.0.2495.0',N'SQL Server 2014',N'CU7')
,(N'12.0.2480.0',N'SQL Server 2014',N'CU6')
,(N'12.0.2474.0',N'SQL Server 2014',N'CU5+FIX')
,(N'12.0.2456.0',N'SQL Server 2014',N'CU5')
,(N'12.0.2430.0',N'SQL Server 2014',N'CU4')
,(N'12.0.2402.0',N'SQL Server 2014',N'CU3')
,(N'12.0.2381.0',N'SQL Server 2014',N'MS14-044')
,(N'12.0.2370.0',N'SQL Server 2014',N'CU2')
,(N'12.0.2342.0',N'SQL Server 2014',N'CU1')
,(N'12.0.2271.0',N'SQL Server 2014',N'TLS')
,(N'12.0.2269.0',N'SQL Server 2014',N'MS15-058')
,(N'12.0.2254.0',N'SQL Server 2014',N'MS14-044')
,(N'12.0.2000.8',N'SQL Server 2014',N'RTM')

,(N'11.0.7507.2',N'SQL Server 2012 Service Pack 4',N'GDR+SU2')
,(N'11.0.7493.4',N'SQL Server 2012 Service Pack 4',N'GDR+SU1')
,(N'11.0.7469.6',N'SQL Server 2012 Service Pack 4',N'GDR+FIX')
,(N'11.0.7462.6',N'SQL Server 2012 Service Pack 4',N'GDR')
,(N'11.0.7001.0',N'SQL Server 2012 Service Pack 4',N'SP4')
,(N'11.0.6615.2',N'SQL Server 2012 Service Pack 3',N'CU10+SU')
,(N'11.0.6607.3',N'SQL Server 2012 Service Pack 3',N'CU10')
,(N'11.0.6598.0',N'SQL Server 2012 Service Pack 3',N'CU9')
,(N'11.0.6594.0',N'SQL Server 2012 Service Pack 3',N'CU8')
,(N'11.0.6579.0',N'SQL Server 2012 Service Pack 3',N'CU7')
,(N'11.0.6567.0',N'SQL Server 2012 Service Pack 3',N'MS16-136')
,(N'11.0.6544.0',N'SQL Server 2012 Service Pack 3',N'CU5')
,(N'11.0.6540.0',N'SQL Server 2012 Service Pack 3',N'CU4')
,(N'11.0.6537.0',N'SQL Server 2012 Service Pack 3',N'CU3')
,(N'11.0.6523.0',N'SQL Server 2012 Service Pack 3',N'CU2')
,(N'11.0.6518.0',N'SQL Server 2012 Service Pack 3',N'CU1')
,(N'11.0.6260.1',N'SQL Server 2012 Service Pack 3',N'GDR+SU2')
,(N'11.0.6251.0',N'SQL Server 2012 Service Pack 3',N'GDR+SU1')
,(N'11.0.6248.0',N'SQL Server 2012 Service Pack 3',N'MS16-136')
,(N'11.0.6216.27',N'SQL Server 2012 Service Pack 3',N'TLS')
,(N'11.0.6020.0',N'SQL Server 2012 Service Pack 3',N'SP3')
,(N'11.0.5678.0',N'SQL Server 2012 Service Pack 2',N'CU16')
,(N'11.0.5676.0',N'SQL Server 2012 Service Pack 2',N'MS16-136')
,(N'11.0.5657.0',N'SQL Server 2012 Service Pack 2',N'CU14')
,(N'11.0.5655.0',N'SQL Server 2012 Service Pack 2',N'CU13')
,(N'11.0.5649.0',N'SQL Server 2012 Service Pack 2',N'CU12')
,(N'11.0.5646.0',N'SQL Server 2012 Service Pack 2',N'CU11')
,(N'11.0.5644.2',N'SQL Server 2012 Service Pack 2',N'CU10')
,(N'11.0.5641.0',N'SQL Server 2012 Service Pack 2',N'CU9')
,(N'11.0.5634.1',N'SQL Server 2012 Service Pack 2',N'CU8')
,(N'11.0.5623.0',N'SQL Server 2012 Service Pack 2',N'CU7')
,(N'11.0.5613.0',N'SQL Server 2012 Service Pack 2',N'MS15-058')
,(N'11.0.5592.0',N'SQL Server 2012 Service Pack 2',N'CU6')
,(N'11.0.5582.0',N'SQL Server 2012 Service Pack 2',N'CU5')
,(N'11.0.5571.0',N'SQL Server 2012 Service Pack 2',N'FIX')
,(N'11.0.5569.0',N'SQL Server 2012 Service Pack 2',N'CU4')
,(N'11.0.5556.0',N'SQL Server 2012 Service Pack 2',N'CU3')
,(N'11.0.5548.0',N'SQL Server 2012 Service Pack 2',N'CU2')
,(N'11.0.5532.0',N'SQL Server 2012 Service Pack 2',N'CU1')
,(N'11.0.5522.0',N'SQL Server 2012 Service Pack 2',N'FIX')
,(N'11.0.5388.0',N'SQL Server 2012 Service Pack 2',N'MS16-136')
,(N'11.0.5352.0',N'SQL Server 2012 Service Pack 2',N'TLS')
,(N'11.0.5343.0',N'SQL Server 2012 Service Pack 2',N'MS15-058')
,(N'11.0.5058.0',N'SQL Server 2012 Service Pack 2',N'SP2')
,(N'11.0.3513.0',N'SQL Server 2012 Service Pack 1',N'MS15-058')
,(N'11.0.3492.0',N'SQL Server 2012 Service Pack 1',N'CU16')
,(N'11.0.3487.0',N'SQL Server 2012 Service Pack 1',N'CU15')
,(N'11.0.3486.0',N'SQL Server 2012 Service Pack 1',N'CU14')
,(N'11.0.3482.0',N'SQL Server 2012 Service Pack 1',N'CU13')
,(N'11.0.3470.0',N'SQL Server 2012 Service Pack 1',N'CU12')
,(N'11.0.3467.0',N'SQL Server 2012 Service Pack 1',N'FIX')
,(N'11.0.3460.0',N'SQL Server 2012 Service Pack 1',N'MS14-044')
,(N'11.0.3449.0',N'SQL Server 2012 Service Pack 1',N'CU11')
,(N'11.0.3437.0',N'SQL Server 2012 Service Pack 1',N'FIX')
,(N'11.0.3431.0',N'SQL Server 2012 Service Pack 1',N'CU10')
,(N'11.0.3412.0',N'SQL Server 2012 Service Pack 1',N'CU9')
,(N'11.0.3401.0',N'SQL Server 2012 Service Pack 1',N'CU8')
,(N'11.0.3393.0',N'SQL Server 2012 Service Pack 1',N'CU7')
,(N'11.0.3381.0',N'SQL Server 2012 Service Pack 1',N'CU6')
,(N'11.0.3373.0',N'SQL Server 2012 Service Pack 1',N'CU5')
,(N'11.0.3368.0',N'SQL Server 2012 Service Pack 1',N'CU4')
,(N'11.0.3349.0',N'SQL Server 2012 Service Pack 1',N'CU3')
,(N'11.0.3339.0',N'SQL Server 2012 Service Pack 1',N'CU2')
,(N'11.0.3321.0',N'SQL Server 2012 Service Pack 1',N'CU1')
,(N'11.0.3156.0',N'SQL Server 2012 Service Pack 1',N'MS15-058')
,(N'11.0.3153.0',N'SQL Server 2012 Service Pack 1',N'MS14-044')
,(N'11.0.3128.0',N'SQL Server 2012 Service Pack 1',N'FIX')
,(N'11.0.3000.0',N'SQL Server 2012 Service Pack 1',N'SP1')
,(N'11.0.2424.0',N'SQL Server 2012',N'CU11')
,(N'11.0.2420.0',N'SQL Server 2012',N'CU10')
,(N'11.0.2419.0',N'SQL Server 2012',N'CU9')
,(N'11.0.2410.0',N'SQL Server 2012',N'CU8')
,(N'11.0.2405.0',N'SQL Server 2012',N'CU7')
,(N'11.0.2401.0',N'SQL Server 2012',N'CU6')
,(N'11.0.2395.0',N'SQL Server 2012',N'CU5')
,(N'11.0.2383.0',N'SQL Server 2012',N'CU4')
,(N'11.0.2376.0',N'SQL Server 2012',N'MS12-070')
,(N'11.0.2332.0',N'SQL Server 2012',N'CU3')
,(N'11.0.2325.0',N'SQL Server 2012',N'CU2')
,(N'11.0.2316.0',N'SQL Server 2012',N'CU1')
,(N'11.0.2218.0',N'SQL Server 2012',N'MS12-070')
,(N'11.0.2100.0',N'SQL Server 2012',N'RTM')

,(N'10.50.6560.0',N'SQL Server 2008 R2 Service Pack 3',N'GDR+SU')
,(N'10.50.6542.0',N'SQL Server 2008 R2 Service Pack 3',N'TLS')
,(N'10.50.6537.0',N'SQL Server 2008 R2 Service Pack 3',N'TLS')
,(N'10.50.6529.0',N'SQL Server 2008 R2 Service Pack 3',N'MS15-058')
,(N'10.50.6525.0',N'SQL Server 2008 R2 Service Pack 3',N'FIX')
,(N'10.50.6220.0',N'SQL Server 2008 R2 Service Pack 3',N'MS15-058')
,(N'10.50.6000.34',N'SQL Server 2008 R2 Service Pack 3',N'SP3')
,(N'10.50.4344.0',N'SQL Server 2008 R2 Service Pack 2',N'TLS')
,(N'10.50.4343.0',N'SQL Server 2008 R2 Service Pack 2',N'TLS')
,(N'10.50.4339.0',N'SQL Server 2008 R2 Service Pack 2',N'MS15-058')
,(N'10.50.4331.0',N'SQL Server 2008 R2 Service Pack 2',N'MS14-044')
,(N'10.50.4319.0',N'SQL Server 2008 R2 Service Pack 2',N'CU13')
,(N'10.50.4305.0',N'SQL Server 2008 R2 Service Pack 2',N'CU12')
,(N'10.50.4302.0',N'SQL Server 2008 R2 Service Pack 2',N'CU11')
,(N'10.50.4297.0',N'SQL Server 2008 R2 Service Pack 2',N'CU10')
,(N'10.50.4295.0',N'SQL Server 2008 R2 Service Pack 2',N'CU9')
,(N'10.50.4290.0',N'SQL Server 2008 R2 Service Pack 2',N'CU8')
,(N'10.50.4286.0',N'SQL Server 2008 R2 Service Pack 2',N'CU7')
,(N'10.50.4285.0',N'SQL Server 2008 R2 Service Pack 2',N'CU6')
,(N'10.50.4279.0',N'SQL Server 2008 R2 Service Pack 2',N'CU6')
,(N'10.50.4276.0',N'SQL Server 2008 R2 Service Pack 2',N'CU5')
,(N'10.50.4270.0',N'SQL Server 2008 R2 Service Pack 2',N'CU4')
,(N'10.50.4266.0',N'SQL Server 2008 R2 Service Pack 2',N'CU3')
,(N'10.50.4263.0',N'SQL Server 2008 R2 Service Pack 2',N'CU2')
,(N'10.50.4260.0',N'SQL Server 2008 R2 Service Pack 2',N'CU1')
,(N'10.50.4047.0',N'SQL Server 2008 R2 Service Pack 2',N'TLS')
,(N'10.50.4046.0',N'SQL Server 2008 R2 Service Pack 2',N'TLS')
,(N'10.50.4042.0',N'SQL Server 2008 R2 Service Pack 2',N'MS15-058')
,(N'10.50.4033.0',N'SQL Server 2008 R2 Service Pack 2',N'MS14-044')
,(N'10.50.4000.0',N'SQL Server 2008 R2 Service Pack 2',N'SP2')
,(N'10.50.2500.0',N'SQL Server 2008 R2 Service Pack 1',N'SP1')
,(N'10.50.1600.1',N'SQL Server 2008 R2',N'RTM')

,(N'10.00.6556.0',N'SQL Server 2008 Service Pack 4',N'GDR+SU')
,(N'10.00.6547.0',N'SQL Server 2008 Service Pack 4',N'TLS')
,(N'10.00.6543.0',N'SQL Server 2008 Service Pack 4',N'TLS')
,(N'10.00.6535.0',N'SQL Server 2008 Service Pack 4',N'MS15-058')
,(N'10.00.6526.0',N'SQL Server 2008 Service Pack 4',N'FIX')
,(N'10.00.6241.0',N'SQL Server 2008 Service Pack 4',N'MS15-058')
,(N'10.00.6000.0',N'SQL Server 2008 Service Pack 4',N'SP4')
,(N'10.00.5896.0',N'SQL Server 2008 Service Pack 3',N'TLS')
,(N'10.00.5894.0',N'SQL Server 2008 Service Pack 3',N'TLS')
,(N'10.00.5890.0',N'SQL Server 2008 Service Pack 3',N'MS15-058')
,(N'10.00.5869.0',N'SQL Server 2008 Service Pack 3',N'MS14-044')
,(N'10.00.5861.0',N'SQL Server 2008 Service Pack 3',N'CU17')
,(N'10.00.5852.0',N'SQL Server 2008 Service Pack 3',N'CU16')
,(N'10.00.5850.0',N'SQL Server 2008 Service Pack 3',N'CU15')
,(N'10.00.5848.0',N'SQL Server 2008 Service Pack 3',N'CU14')
,(N'10.00.5846.0',N'SQL Server 2008 Service Pack 3',N'CU13')
,(N'10.00.5844.0',N'SQL Server 2008 Service Pack 3',N'CU12')
,(N'10.00.5841.0',N'SQL Server 2008 Service Pack 3',N'CU11')
,(N'10.00.5840.0',N'SQL Server 2008 Service Pack 3',N'CU11')
,(N'10.00.5835.0',N'SQL Server 2008 Service Pack 3',N'CU10')
,(N'10.00.5829.0',N'SQL Server 2008 Service Pack 3',N'CU9')
,(N'10.00.5828.0',N'SQL Server 2008 Service Pack 3',N'CU8')
,(N'10.00.5826.0',N'SQL Server 2008 Service Pack 3',N'MS12-070')
,(N'10.00.5794.0',N'SQL Server 2008 Service Pack 3',N'CU7')
,(N'10.00.5788.0',N'SQL Server 2008 Service Pack 3',N'CU6')
,(N'10.00.5785.0',N'SQL Server 2008 Service Pack 3',N'CU5')
,(N'10.00.5775.0',N'SQL Server 2008 Service Pack 3',N'CU4')
,(N'10.00.5770.0',N'SQL Server 2008 Service Pack 3',N'CU3')
,(N'10.00.5768.0',N'SQL Server 2008 Service Pack 3',N'CU2')
,(N'10.00.5766.0',N'SQL Server 2008 Service Pack 3',N'CU1')
,(N'10.00.5545.0',N'SQL Server 2008 Service Pack 3',N'TLS')
,(N'10.00.5544.0',N'SQL Server 2008 Service Pack 3',N'TLS')
,(N'10.00.5538.0',N'SQL Server 2008 Service Pack 3',N'MS15-058')
,(N'10.00.5520.0',N'SQL Server 2008 Service Pack 3',N'MS14-044')
,(N'10.00.5512.0',N'SQL Server 2008 Service Pack 3',N'MS12-070')
,(N'10.00.5500.0',N'SQL Server 2008 Service Pack 3',N'SP3')
,(N'10.00.4000.0',N'SQL Server 2008 Service Pack 2',N'SP2')
,(N'10.00.2531.0',N'SQL Server 2008 Service Pack 1',N'SP1')
,(N'10.00.1600.0',N'SQL Server 2008',N'RTM')

;

RETURN ;

END ;

GO
